@media (max-width:100px) {
    .responsiveCart {
        margin-top: 20px;
    }
}

.stickyNavbar{
    position: sticky !important;
    top: 0;
    z-index:1030; /* Ensure it stay above other elements */
}